[submodule "submodules/iob-soc"]
	path = submodules/iob-soc
	url = git@github.com:IObundle/iob-soc
[submodule "submodules/TIMER"]
	path = submodules/TIMER
	url = git@github.com:IObundle/iob-timer
[submodule "submodules/ETHERNET"]
	path = submodules/ETHERNET
	url = git@github.com:IObundle/iob-eth
[submodule "submodules/VERSAT"]
	path = submodules/VERSAT
	url = git@github.com:IObundle/iob-versat
[submodule "submodules/TEX"]
	path = submodules/TEX
	url = git@github.com:IObundle/iob-tex.git
[submodule "submodules/LIB"]
	path = submodules/LIB
	url = git@github.com:IObundle/iob-lib.git
