[submodule "submodules/iob-eth"]
	path = submodules/iob-eth
	url = git@bitbucket.org:jjts/iob-eth.git
[submodule "submodules/iob-soc"]
	path = submodules/iob-soc
	url = git@bitbucket.org:jjts/iob-soc.git
[submodule "submodules/iob-timer"]
	path = submodules/iob-timer
	url = git@bitbucket.org:jjts/iob-timer.git
[submodule "submodules/iob-versat"]
	path = submodules/iob-versat
	url = https://github.com/jjts/versat.git
