[submodule "submodules/iob-eth"]
	path = submodules/iob-eth
	url = git@bitbucket.org:jjts/iob-eth.git
[submodule "submodules/iob-soc"]
	path = submodules/iob-soc
	url = git@bitbucket.org:jjts/iob-soc.git
